#address-lookup {
  display: none;
}

.js-enabled #address-lookup {
  display: block;
  margin-bottom: 3px;
}

.autocomplete-data {
  // Styling if postcode list pushes content down
  // ul {
  //   display: none;
  //   padding: 0;
  //   list-style: none;

  // Styling if postcode list covers existing content
  position: relative;
  z-index: 10;
  ul {
    box-sizing: border-box;
    display: none;
    background: white;
    opacity: 0.95;
    border: 2px solid black;
    top: -2px;
    padding: 0;
    list-style: none;
    position: absolute;

    &.active {
      display: block;
    }

    li a {
      display: block;
      text-decoration: none;
      padding: 5px;
      color: #000;

      &:hover {
        background: #dee0e2;
      }
    }
  }
}



.autocomplete-data #addressAutocomplete {
  width: 100%;
}

// on large screens
@media (min-width: 641px) {
  .autocomplete-data #addressAutocomplete {
    width: auto;
  }
}
