{% extends "layout.html" %}

{% block page_title %}
  Record outcome
{% endblock %}

{% block content %}

{% include 'includes/_global_nav.html' %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/options" class="link-back">Back</a>


      <h1 class="heading-medium">
        What is the apprenticeship achievement date?
        <!-- Find out from Peter Gilmore Taylor -->
      </h1>

      <form action="/search-results">
        <div class="form-group">
            <span class="form-hint">
              For example, 15 10 2017
            </span>
          </label>
          <div class="form-date">
            <div class="form-group form-group-day">
              <label for="dob-day">Day</label>
              <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
            </div>

            <div class="form-group form-group-month">
              <label for="dob-month">Month</label>
              <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>

            <div class="form-group form-group-year">
              <label for="dob-year">Year</label>
              <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
            </div>
          </div>
        </div>
    </form>

    <details role="group">
      <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">What is an achievement date?</span></summary>
      <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
        <p>
          The achievement date is when the End-point Assessment Organisation confirms when the apprentice has passed the apprenticeship. 
        </p>
      </div>
    </details>
<br>


      <a class="button" href="/organisation" role="button">Continue</a>

    </div>
  </div>
</main>
{% endblock %}
