{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/employer-contact-name" class="link-back">Back</a>

      <h1 class="heading-large">
        Check and approve the assessment details
      </h1>

      <div class="info-summary">
          <h3 class="heading-medium">Please check these details carefully before approving</h3>
          <p>The details below will be printed on the certificate.</p>
          <p>If any of the details below are incorrect please contact the provider and request them to amend the details.</p>
      </div>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        Personal details
      </h2>

      <!-- use additional modifier class to  column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
        <dl class="govuk-check-your-answers cya-questions-short">
          <div>
            <dt class="cya-question">
              Name
            </dt>
            <dd class="cya-answer">
              David [last name]
            </dd>
          </div>
          <div>
            <dt class="cya-question">
              Date of birth
            </dt>
            <dd class="cya-answer">
              01/01/2001
            </dd>
          </div>
          <div>
            <dt class="cya-question">
              ULN
            </dt>
            <dd class="cya-answer">
              5407291429
            </dd>
          </div>
        </dl>


        <h2 class="heading-medium">
          Apprenticeship details
        </h2>

        <dl class="govuk-check-your-answers cya-questions-short">
          <div>
            <dt class="cya-question">
              Standard
            </dt>
            <dd class="cya-answer">
              Tailoring
            </dd>

          </div>
          <div>
            <dt class="cya-question">
              Level
            </dt>
            <dd class="cya-answer">
              101
            </dd>

          </div>
          <div>
            <dt class="cya-question">
              Grade
            </dt>
            <dd class="cya-answer">
              Distinction
            </dd>

          </div>
          <div>
            <dt class="cya-question">
              Pathways
            </dt>
            <dd class="cya-answer">
              Test<br>
              Test<br>
              Test
            </dd>

          </div>
          <div>
            <dt class="cya-question">
              Apprenticeship achievement date
            </dt>
            <dd class="cya-answer">
              15/02/2018
            </dd>
          </div>
        </dl>


      <h2 class="heading-medium">
        Employer details
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Contact name
          </dt>
          <dd class="cya-answer">
            Sarah Williams
          </dd>
        </div>

      <div>
        <dt class="cya-question">
          Job title
        </dt>
        <dd class="cya-answer">
          Master Tailor
        </dd>
      </div>

      <div>
        <dt class="cya-question">
          Address to post certificate to
        </dt>
        <dd class="cya-answer">
          Stitch and Weave<br />
          72 Guild Street<br />
          London<br />
          SE23 6FH
        </dd>
      </div>

    </dl>





      <h2 class="heading-medium">Now submit your assessment</h2>

      <p class="text">
        By submitting this assessment you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <div class="form-group">
        <a href="confirmation-page" class="button">Accept and record assessment</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
