{% extends "layout.html" %}

{% block page_title %}
  Confirmation page
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Assessment recorded
        </h1>
        <p class="font-large">
          The certificate number is <br>
          <strong class="bold">HDJ2123F</strong>
        </p>
      </div>

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="heading-medium">What happens next</h2>
      <p>A printed certificate is being prepared and will be posted to the employer.</p>
      <p><a href="/feedback">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

</main>

{% endblock %}
