{% extends "layout.html" %}

{% block page_title %}
  Record outcome
{% endblock %}

{% block content %}

{% include 'includes/_global_nav.html' %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/confirm-standard" class="link-back">Back</a>


      <h1 class="heading-medium">
        What grade did the apprentice achieve?
      </h1>

      <form>
        <div class="form-group">
          <fieldset>

            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Pass">
              <label for="example-contact-by-email">Pass</label>
            </div>

            <div class="multiple-choice" data-target="contact-by-phone">
              <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="Credit">
              <label for="example-contact-by-phone">Credit</label>
            </div>

            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Merit">
              <label for="example-contact-by-email">Merit</label>
            </div>

            <div class="multiple-choice" data-target="contact-by-phone">
              <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="Distinction">
              <label for="example-contact-by-phone">Distinction</label>
            </div>

            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Pass with excellence">
              <label for="example-contact-by-email">Pass with excellence</label>
            </div>

            <div class="multiple-choice" data-target="contact-by-phone">
              <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="Not applicable">
              <label for="example-contact-by-phone">Not applicable</label>
            </div>

          </fieldset>
        </div>
      </form>







      <details role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Information about grades</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>
            A grade is awarded for completion of the standard.  For some standards there will be no grade awarded.  In these cases please select "Not applicable".
          </p>
        </div>
      </details>
      <br>




      <a class="button" href="/options" role="button">Continue</a>

    </div>
  </div>
</main>
{% endblock %}
