{% extends "layout.html" %}

{% block page_title %}
  Record outcome
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/search-results" class="link-back">Back</a>


      <h1 class="heading-medium">
        What grade did [selected name] achieve?
      </h1>
      <div class="info-summary">
          <h3 class="heading-medium">Only record successful assessments</h3>
          <p>You don't need to record failed assessments. If an apprentice has failed, they'll have to be re-assessed.</p>
      </div>

      <form>
    		<div class="form-group">
          <label class="form-label" for="grade">Grade</label>
          <input class="form-control" id="grade" type="text" name="grade">
    		</div>
    	</form>


      <a class="button" href="/pathways" role="button">Continue</a>

    </div>
  </div>
</main>
{% endblock %}
