{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Record end point assessment outcome help</h1>
      <p>Contact the <span class="bold">EPAO</span> service helpdesk on:</p>

      <ul class="list list-bullet">
        <li>08000 150 600</li>
        <li><a href="mailto:helpdesk@epao.service.gov.uk">helpdesk@epao.service.gov.uk</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
