{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Prototype dashboard</span>
				EPAO Certification
			</h1>

			<h2 class="heading-large">
        <strong class="phase-tag">MOST RECENT</strong>
        <br>
				&ldquo;Version 2&rdquo;
			</h2>

			<p>Automating as much of the EPAO certification process as possible in preparation for an increased demand on the certification process from April 2018.</p>

			<details>
				<summary><span class="summary">Changes from previous version</span></summary>
				<ul class="list list-bullet">
					<li></li>
				</ul>
			</details>

			<p><a href="/inform" class="button button-start">Start now</a></p>

			<h3 class="heading-medium">Research notes</h3>
			<p>A summary of findings from UR sessions would go here.</p>

			<hr>

			<h2 class="heading-large">Previous versions</h2>
			<table class="table-font-xsmall">
				<thead>
					<tr>
						<th>Name</th>
						<th>Test date</th>
						<th>Changes</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td><a href="/version-1/app/views/index">&ldquo;Version 1&rdquo;</a></td>
						<td></td>
						<td>
							<details>
								<summary><span class="summary">Changes from previous version</span></summary>
								<ul class="list list-bullet">
									<li></li>
								</ul>
							</details>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>

{% endblock %}
