{% extends "layout.html" %}

{% block page_title %}
  Record outcome
{% endblock %}

{% block content %}

{% include 'includes/_global_nav.html' %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/grade" class="link-back">Back</a>


      <h1 class="heading-medium">
        As part of the apprenticeship did the apprentice undertake an additional learning option?
      </h1>


      <form>
        <div class="form-group">
          <fieldset>

            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
              <label for="example-contact-by-email">Yes</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
              <label class="form-label" for="contact-email">What was the option?</label>
              <input class="form-control" name="contact-email" type="text" id="contact-email">
            </div>

            <div class="multiple-choice" data-target="contact-by-phone">
              <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
              <label for="example-contact-by-phone">No</label>
            </div>

          </fieldset>
        </div>
      </form>

      <details role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">What is a option?</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>
            For some Standards, the learner can take different Options. For example, the Standard for Professional Accounting Technician has an Accounting or Tax option. If applicable, enter the Option the learner has achieved. The Option will appear on the certificate. 
          </p>
        </div>
      </details>

      <br>

      <a class="button" href="/achievement-date" role="button">Continue</a>

    </div>
  </div>
</main>
{% endblock %}
