{% extends "layout.html" %}

{% block page_title %}
  Record outcome
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/search-results" class="link-back">Back</a>


      <h1 class="heading-medium">
        What were the pathways?
      </h1>

      <form>
    		<div class="form-group">
    			<div class="multiple-choice">
    				<input id="radio-1" name="radio-group" type="radio" value="Pass"> <label for="radio-1">Pass</label>
    			</div>
    			<div class="multiple-choice">
    				<input id="radio-2" name="radio-group" type="radio" value="Merit"> <label for="radio-2">Merit</label>
    			</div>
          <div class="multiple-choice">
    				<input id="radio-3" name="radio-group" type="radio" value="Distinction"> <label for="radio-3">Distinction</label>
    			</div>
    		</div>
    	</form>


      <a class="button" href="/apprenticeship-completion" role="button">Continue</a>

    </div>
  </div>
</main>
{% endblock %}
