{% extends "layout.html" %}

{% block page_title %}
  Record outcome
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/grade" class="link-back">Back</a>


      <h1 class="heading-medium">
        Did the apprenticeship have a pathway?
      </h1>


      <form>
        <div class="form-group">
          <fieldset>

            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
              <label for="example-contact-by-email">Yes</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
              <label class="form-label" for="contact-email">What was the pathway?</label>
              <input class="form-control" name="contact-email" type="text" id="contact-email">
            </div>

            <div class="multiple-choice" data-target="contact-by-phone">
              <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
              <label for="example-contact-by-phone">No</label>
            </div>

          </fieldset>
        </div>
      </form>

      <a class="button" href="/apprenticeship-completion" role="button">Continue</a>

    </div>
  </div>
</main>
{% endblock %}
