{% extends "layout.html" %}

{% block page_title %}
  Search
{% endblock %}

{% block content %}

{% include 'includes/_global_nav.html' %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
    <div class="search-header">
      <h1 class="heading-large">Search for an apprentice</h1>
        <p>You can search by unique learner number (ULN).</p>
    	<fieldset class="search-input">

    	    <input type="search" name="q" id="search-main" onfocus="if(this.value == 'Enter ULN number here') { this.value = ''; }" value="Enter ULN number here" data-intro="Include the original search term from the preceeding page, allow them to edit it here and re-submit" data-position="top">

      </fieldset>
    	<fieldset class="search-submit">
    		<a href="search-results"><button type="submit"  class="button">Search</button></a>
    	</fieldset>
    </div>
  </div>
</div>
</main>

{% endblock %}
