{% extends "layout.html" %}

{% block page_title %}
  Search
{% endblock %}

{% block content %}

{% include 'includes/_global_nav.html' %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Search for an apprentice</h1>
      <p>Tell us the unique learner number (ULN) and last name of the apprentice you are looking for. </p>

      <form action="/confirm-declare">
        <div class="form-group">
          <label class="form-label" for="contact-name">ULN</label>
          <input class="form-control" id="contact-name" type="text" name="contact-name">
        </div>
        <div class="form-group">
          <label class="form-label" for="contact-position">Last name</label>
          <input class="form-control" id="contact-position" type="text" name="contact-position">
        </div>

        <details role="group">
          <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">What is a unique learner number (ULN)?</span></summary>
          <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
            <p>
              Each apprentice has a unique learner number (ULN) that is used to identify them. It is ten digits long and contains only numbers.
            </p>
          </div>
        </details>
        <br>

        <div class="form-group">
					<input class="button" id="button-search" type="submit" value="Continue">
				</div>


    	</form>



  </div>
</div>
</main>

{% endblock %}
