{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block service_name %}
{% endblock %}

{% block content %}


<main id="content" role="main">
  <div class="grid-row">
      <div class="column-two-thirds">
          <h1 class="heading-xlarge">Sign in</h1>
          <form method="post" autocomplete="off" id="form-signin">
              <div class="form-group  ">
                  <label for="EmailAddress">
                      <span class="form-label-bold">User ID or email address</span>
                  </label>
                  <input class="form-control form-control-3-4" id="EmailAddress" name="EmailAddress" type="text" autocomplete="off"
                         autofocus="autofocus" aria-required="true">
              </div>
              <div class="form-group ">
                  <label for="Password">
                      <span class="form-label-bold">
                          Password
                      </span>
                  </label>
                  <input class="form-control form-control-3-4" id="Password" name="Password" type="password" autocomplete="off"
                         aria-required="true">

              </div>
              <div class="form-group">
                <a href="/search" class="button" id"button-signin">Sign in</a>
              </div>
          <p>
            <h2 class="heading-medium">Problems signing in?</h2>
              <ul class="list">
                <li>
                  <a href="#">I forgot my password</a>
                </li>
                <li>
                  <a href="#">I don't have an account</a>
                </li>
              </ul>
          </p>
      </div>
  </div>
</main>

{% endblock %}
