{% extends "layout.html" %}

{% block page_title %}
  EPAO certification information
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>record apprenticeship assessment results</li>
        <li>search for organisations you are working with</li>
        <li>something about the employer</li>
      </uL>

      <p>
        <a class="button button-start" href="/sign-in" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You need a security role (EPAO role permission name here) from <a href="#">Education and Skills Funding Agency</a>.</p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Register of apprentice assessment organisations</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
